* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
}

.main {
    width: 80%;
    margin: 0 auto;
    border: 0.6rem solid Black;
    margin-top: 0.6rem;
}

.container {
    width: 100%;
}

header {
    background: #49475b;
    color: #fff;
    padding: 1rem 0.5rem;
    margin-top: 0.5rem;
}

header h2 {
    margin-top: 1.5rem;
    margin-bottom: 0;
    margin-left: 1.5rem;
    padding-top: 1rem;
}

header h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
}

.row {
    display: flex;
    justify-content: space-around;
    margin-top: 0.3rem;
    padding-bottom: 0.3rem;
}

 .summary {
    width: 35%;
    font-size: 1.2rem;
    margin-left: 0.9rem;
    margin-top: 0.8rem;
}

.imageOne {
    object-fit: cover;
    height: 10rem;
    width: 10rem;
    margin-top: 0.8rem;
    margin-right: 0.3rem;
    border: 1px solid black;
    border-radius: 10rem;
}

.secondPart {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
} 

.workExp {
    width: 50%;
    font-size: 1rem;
    margin-left: 1rem;
}

.workExp h4 {
    width: 50%;
    background: #49475b;
    margin-top: 0;
    margin-left: 0;
    padding: 0.3rem 2rem;
    color: white;
}

.phase {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.list {
    margin-top: 0.2rem;
    margin-left: 0.5rem;
}

.contact h4 {
    width: 50%;
    background: #49475b;
    margin-top: 0;
    padding: 0.3rem 1rem;
    color: white;
}

.row-4 {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

/* @media only screen and (min-width: 768px) { */
    /* For desktop: */
    /* .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }  */
